<center>
<div class="jumbotron jumbotron-fluid" style="height=10px">
  <div class="container" >
        <h1 class="display-4"> "On va sortir 2.0"</h1>
        <p class="lead">Voila le super site de Event, régale toi ! </p>
        <h5><%= link_to ">>>  Creer un nouvel evenement  <<<", new_event_path %></h5>
      </div>
    </div>

<div class="card-columns">
<%@events.each do |liste|%>
  <div class="card border-danger mb-3">
  <h5 class="card-header"><%=liste.user.last_name%></h5>
  <div class="card-body">
    <h6 class="card-title"><%=liste.title%></h6>
    <%= link_to "Voir l'event", event_path(liste.id) %>
  </div>
</div>
</br>
</br>
<% end %>
</div>

</div>
</center>
